body {
  font-family: 'Nunito';
}

.content-container {
  border-bottom: 4px solid #214480;
}

.skills-contact {
  height: 1580px;
  border-right: 4px solid #214480;
}

.name {
  padding-top: 15px;
  display: inline-flex;
}

.first-name {
  font-weight: 200;
}

.last-name {
  font-weight: 900;
}

.contact-info {
  padding-top: 20px;
  font-size: 1.1rem;
}

.contact-info h3 {
  background-color: #214480;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.contact-info-header {
  background-color: white;
  color: #214480;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid black;
}

.contact-list {
  list-style-type: none;
}

.skills {
  margin-top: 35px;
}

.skills h3 {
  background-color: #214480;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.skills-list {
  list-style-type: none;
}

.skills-list p {
  font-size: 1.2rem;
}

.resume-header {
  margin-bottom: 30px;
}

.divider {
  margin bottom: 20px;
  padding: 5px;
}

.divider i {
  color: #214480;
}

.work-history {
  margin-top: 25px;
}

.work-history-entry {
  margin-bottom: 45px;
}
.title-place, .location-date {
  font-style: italic;
}

.location-date {
  margin-bottom: 5px;
}

.projects {
  margin-bottom: 50px;
}

.education-entry {
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-info {
  font-style: italic;
  padding: 5px;
}
